@model CoinAuction.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Admin Index";
}

<div class="col-md-10 offset-1">
    <br />
    <h1>Users Management</h1>
    <br />
    <input type="button" class="btn btn-primary" value="Create new user" onclick="window.location='@Url.Action("Create", "Users")'" />
    <br />
    <br />
    <form asp-controller="Users" asp-action="Index" method="get">
            <p>
                    Username: <input type="text" name="searchString" class="form-control text-dark border-dark" style="background-color:white; width:20%">
                    <input type="submit" class="btn btn-sm" value="Search" style="background-color:green; width:15%"/>
             </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Cellphone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bank.BankName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bank.BranchCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bank.AccountType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bank.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wallet.TotalCoins)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                var bank = Model.Banks.FirstOrDefault(uid => uid.UserId == user.UserId);
                var wallet = Model.Wallets.FirstOrDefault(uid => uid.UserId == user.UserId);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => user.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => user.Cellphone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bank.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bank.BranchCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bank.AccountType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bank.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => wallet.TotalCoins)
                    </td>
                    <td>
                        <input type="button" class="btn btn-primary" value="Edit" onclick="window.location='@Url.Action("Edit", "Users", new { id = user.UserId })'" />
                        <input type="button" class="btn btn-danger" value="Delete" onclick="SweetConfirmAuction('Delete User' ,'This will delete user from system!' , 'Users','Delete', '@user.UserId')" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <br />
    <input type="button" class="btn btn-primary" value="Back" onclick="window.location='@Url.Action("Admin", "Dashboard")'" />
    <br />
    <br />
</div>
